@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.8s ease-out, transform 1.6s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer utilities {
  .text-gradient {
    display: inline-block;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logo {
  max-height: 50px;
}

.tilt {
  transform: perspective(400px) rotateY(-3deg);
}

.background {
  background: linear-gradient(148deg, #030303, #0b3274);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}
@keyframes AnimationName {
  0%{background-position:71% 0%}
  50%{background-position:30% 100%}
  100%{background-position:71% 0%}
}